<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FCafeERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FCafeERP.My.MySettings.dye_testConnectionString" connectionString="server=104.154.69.15;user id=salteador;port=5123;persistsecurityinfo=True;database=dye_test"
      providerName="MySql.Data.MySqlClient" />
    <add name="FCafeERP.My.MySettings.dye_testConnectionString1"
      connectionString="server=104.154.69.15;database=dye_test;port=5123;user id=salteador;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="dye_test_Entities" connectionString="metadata=res://*/Datos.BaseDatos.csdl|res://*/Datos.BaseDatos.ssdl|res://*/Datos.BaseDatos.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=104.154.69.15;database=dye_test;port=5123;user id=salteador;password=C0stum3r_;persistsecurityinfo=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FCafeERP.My.MySettings.dye_testConnectionString2"
      connectionString="server=35.184.47.127;user id=salteador;persistsecurityinfo=True;port=5123;database=dye_test"
      providerName="MySql.Data.MySqlClient" />
    <add name="FCafeERP.My.MySettings.test_erpConnectionString" connectionString="server=190.190.190.3;user id=alejandro;persistsecurityinfo=True;database=test_erp"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <FCafeERP.My.MySettings>
      <setting name="BaseDeDatos" serializeAs="String">
        <value>dye_test</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>salteador</value>
      </setting>
      <setting name="Servidor" serializeAs="String">
        <value>104.154.69.15</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>C0stum3r_</value>
      </setting>
      <setting name="Puerto" serializeAs="String">
        <value>5123</value>
      </setting>
    </FCafeERP.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>