<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FCafeERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FCafeERP.My.MySettings.test_erpConnectionString" connectionString="server=130.211.157.207;user id=test;persistsecurityinfo=True;database=test_erp"
            providerName="MySql.Data.MySqlClient" />
        <add name="FCafeERP.My.MySettings.flora_testConnectionString"
            connectionString="server=130.211.157.207;user id=test;persistsecurityinfo=True;database=dye_test"
            providerName="MySql.Data.MySqlClient" />
        <add name="FCafeERP.My.MySettings.flora_testConnectionString1"
            connectionString="server=130.211.157.207;user id=test;persistsecurityinfo=True;database=dye_test"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <FCafeERP.My.MySettings>
      <setting name="BaseDeDatos" serializeAs="String">
        <value>dye_test</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>test</value>
      </setting>
      <setting name="ReportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="Es_Beneficio" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="update_location" serializeAs="String">
        <value />
      </setting>
      <setting name="update_destino" serializeAs="String">
        <value>c:\SISTEMA_COFFEE</value>
      </setting>
      <setting name="update_project" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CosechaPred" serializeAs="String">
        <value />
      </setting>
      <setting name="Servidor" serializeAs="String">
        <value>130.211.157.207</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>test</value>
      </setting>
    </FCafeERP.My.MySettings>
  </userSettings>
</configuration>
